* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main > section {
    padding-top: 59px;
}

.navbar {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6));
}

/* Styling for Hero Section */
.jumbotron {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)),
        url("../img/bg-hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    height: calc(100vh - 144px);
}

.portfolio {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)),
        url("../img/bg-mywork.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    height: calc(100vh - 144px);
}

.project-card {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.project-card > img {
    height: 200px;
}

footer {
    height: 85px;
    width: 100%;
}

.page-footer {
    background: linear-gradient(
        rgba(0, 0, 0, 1), 
        rgba(0, 0, 0, 1));
}

.footer-span {
    padding-left: 10px;
    padding-right: 10px;
}